{%  extends 'base.html' %}

{% block main_content %}
    <div><a href="/rate/create/">Create new rate</a></div>
    <table>
        <th scope="col">ID</th>
        <th scope="col">Sale</th>
        <th scope="col">Buy</th>
        {% for rate in rate_list %}
            <tr>
                <td>{{ rate.id }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.buy }}</td>
                    <td><a href="/rate/details/{{ rate.id }}">view details</a></td>
                    <td><a href="/rate/update/{{ rate.id }}">edit</a></td>
                    <td><a href="/rate/delete/{{ rate.id }}">delete</a></td>
            <tr/>
        {% endfor %}
    </table>

{% endblock main_content %}