{%  extends 'base.html' %}

{% block main_content %}
    <div><a href="{% url 'currency:source_create' %}">Create new source</a></div>
    <table>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Url</th>
        {% for source in source_list %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.name }}</td>
                <td>{{ source.source_url }}</td>
                    <td><a href="{% url 'currency:source_update' source.id %}">edit</a></td>
                    <td><a href="{% url 'currency:source_delete' source.id %}">delete</a></td>
            <tr/>
        {% endfor %}
    </table>

{% endblock main_content %}
